* {
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
}

.header {
    min-height: 70vh;
    width: 100%;
    background-color: #1f2937;
    background-position: center;
    position: relative;
}

nav {
    display: flex;
    padding: 2px 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 30px;
    color: #f9faf8;
    font-size: 24px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #3882f6;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 70%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    display: flex;
}
.text-box img{
    height: 46vh;
    width: 500px;
    font-size: 24px;
}
.text-box h1 {
    margin-top: 5px;
    font-size: 50px;
}

.text-box p {
    margin: 0px 0 10px 0px;
    font-size: 14px;
    color: #fff;
}
.sign-btn{
    display: inline-block;
    text-decoration: none;
    color: #eaecf0;
    border: 1px solid rgb(198, 197, 204);
    padding: 12px 34px;
    font-size: 13px;
    border-radius: 10px;
    background-color: #3882f6;
    background: transparent;
    position: relative;
    cursor: pointer;
    
}
.sign-btn:hover{
    border: 1px solid rgb(34, 11, 240);
    background-color: rgb(16, 31, 236);
    transition: 1s;
}
nav .fa{
    display: none;
}

@media(max-width:700px){
    .text-box h1 {
        font-size: 20px;
    }
    .text-box p {
        margin: 10px 0 40px;
        font-size: 10px;
        color: #fff;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #5391e7;
        height: 70vh;
        width: 200px;
        top: 0;
        right: 1px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 20px;
    }
}


/* -------------course--------------------- */


.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.course img{
    height: 26vh;
    width: 200px;
    font-size: 24px;
    border-radius: 12px;
    border: solid #5391e7;
}

h1{
    font-size: 20px;
    font-weight: 600;
}
p{
    
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 22%;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 2);

}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
.thor{
    background-color: #e5e7eb;
    width: 100%;
    text-align: center;
    margin-top: 12px;
}
.thor p{

    font-size: 14px;
    color: #1f2937;
    padding: 44px  34px;
}



/*-------- call ----------*/



.call{
    background-color: #3882f6;
    width: 80%;
    margin-top: 42px;
    margin-bottom: 42px;
    margin-left: 120px;
    border-radius: 12px;
    display: flex;
    text-align: center;
    /* justify-content: right; */
}

.call div{
    flex: 1;
    flex-basis: 100px;
    box-sizing: border-box;
    border: 4px;
    margin: auto;
    color: #fff;
    padding: 10px 4px;
    /* background-color: aqua;
    border: #e75353 solid; */
}
.call h2{
    padding: 5px;
    padding-bottom: 0;
    margin-top: 8px;
    font-size: 28px;
}
.call p{
    margin-top: -10px;
    margin-left: 25px;
}
.call .sign-btn{
    margin-left: 65px;
}

.footer{
    text-align: center;
    padding: 5px;
    color: #fff;
    background-color: #1f2937;   
}